$angle: 0deg;

.sandbox-screen {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(51, 50, 41);
}

.toy-div {
  position: absolute;
  top: -10%;
  left: 50%;
  width: 10vmin;
  height: 10vmin;
  border-radius: 5vmin;
  border-width: 1px;
  border-color: rgb(233, 233, 179);
  transform: translate(-50%, -50%);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: rgb(194, 165, 255);

  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  // animation-fill-mode: both;
}

.sandbox-toggle-button {
  position: absolute;
  top: 3vmin;
  left: 3vmin;
  width: 3vmin;
  height: 3vmin;
  background-color: rgb(231, 250, 218);
  opacity: 0.7;
  transition: 0.5s;
}

.sandbox-toggle-button.toggle-checked {
  background-color: aqua;
  transition: 0.5s;
}

.physics-checker {
  position: absolute;
  top: 3vmin;
  left: 9vmin;
  width: 3vmin;
  height: 3vmin;
  background-color: rgb(255, 0, 0);
  opacity: 0.7;
  transition: 0.5s;
}

// @keyframes spin-clockwise {
//   100% {
//     transform: translate(-50%, -50%) rotate($angle + 360deg);
//   }
// }

// @keyframes spin-counter-clockwise {
//   100% {
//     transform: translate(-50%, -50%) rotate($angle - 360deg);
//   }
// }
