.sandbox-screen {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(63, 63, 63);
}

.toy-div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10vmin;
  height: 10vmin;
  border-radius: 5vmin;
  border-width: 1px;
  border-color: rgb(255, 255, 163);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: red;

  // animation: rotate 3s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
