$angle: 0deg;

.sandbox-screen {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(51, 50, 41);
}

.sandbox-title {
  position: absolute;
  top: 0%;
  left: 50%;
  padding: 1vh;
  color: white;
  transform: translate(-50%, 0%);
}

.sandbox-sidemenu {
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 0.5vw;

  display: flex;
  flex-direction: column;

  // background-color: rgba(255, 255, 255, 0.729);
  transform: translate(0%, -50%);
}

.toy-div {
  position: absolute;
  top: -10%;
  left: 50%;
  width: 10vmin;
  height: 10vmin;
  border-radius: 5vmin;
  border-width: 1px;
  border-color: rgb(233, 233, 179);
  transform: translate(-50%, -50%);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: rgb(194, 165, 255);

  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  // animation-fill-mode: both;
}

.sidemenu-button {
  width: 4vmin;
  height: 4vmin;
  margin: 1vmin 0vmin;
  opacity: 0.7;
  transition: 0.5s;
}

.toggle-button {
  background-color: rgb(231, 250, 218);
}

.toggle-button.toggle-checked {
  background-color: aqua;
}

.physics-checker {
  background-color: rgb(255, 0, 0);
}

.shake-button {
  background-color: rgb(77, 255, 0);
}

// @keyframes spin-clockwise {
//   100% {
//     transform: translate(-50%, -50%) rotate($angle + 360deg);
//   }
// }

// @keyframes spin-counter-clockwise {
//   100% {
//     transform: translate(-50%, -50%) rotate($angle - 360deg);
//   }
// }
