:root {
  --creature-size: 40px;
}

.creature-area {
  position: absolute;

  top: 50%;
  left: 50%;
  width: 900px;
  height: 600px;

  // border-width: 2px;
  // border-color: black;

  transform: translate(-50%, -50%);

  z-index: 2;
}

.creature {
  position: fixed;

  top: -100px;
  left: 100px;
  width: var(--creature-size);
  height: var(--creature-size);

  transform: translate(-5px, -5px);

  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: calc(var(--creature-size) * 4) auto;
}

.creature.pikachu {
  position: absolute;

  background-image: url("../../../../public/assets/images/natsel/pikachu.png");

  background-color: rgba(188, 188, 0, 0.3);
}

.creature.pairi {
  position: absolute;

  border-color: rgb(224, 90, 0);
  background-color: rgb(224, 90, 0, 0.3);
}

.creature.isanghaessi {
  position: absolute;

  border-color: rgb(0, 84, 25);
  background-color: rgb(0, 84, 25, 0.3);
}

.creature.ggobugi {
  position: absolute;

  border-color: rgb(0, 3, 169);
  background-color: rgb(0, 3, 169, 0.3);
}
