.creature-area {
  position: absolute;

  top: 50%;
  left: 50%;
  width: 900px;
  height: 600px;

  // border-width: 2px;
  // border-color: black;

  transform: translate(-50%, -50%);
}

.creature {
  position: fixed;

  top: -100px;
  left: 100px;
  width: calc(var(--tile-size) - 4px);
  height: calc(var(--tile-size) - 4px);

  margin: 2px;

  border-width: 3px;
  border-radius: 5px;
}

.creature.pikachu {
  position: absolute;

  border-color: rgb(188, 188, 0);
  background-color: rgba(188, 188, 0, 0.3);
}

.creature.pairi {
  position: absolute;

  border-color: rgb(224, 90, 0);
  background-color: rgb(224, 90, 0, 0.3);
}
