.food-area {
  position: absolute;

  top: 50%;
  left: 50%;
  width: 900px;
  height: 600px;

  // border-width: 2px;
  // border-color: black;

  transform: translate(-50%, -50%);

  pointer-events: none;
}

.food-apple {
  position: absolute;

  top: 0px;
  left: 0px;
  width: calc(var(--tile-size) - 12px);
  height: calc(var(--tile-size) - 12px);

  margin: 6px;

  // border-width: 3px;
  border-radius: 15px;
  // border-color: red;

  background-color: red;
}
